{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
  {% endif %}
  {% if cl.formset or action_form %}
    <script src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% block coltype %}{% endblock %}

{% block content_title %}{% endblock %}
{% block content %}
  <div class="container-fluid px-5 py-3">
    {% if cl.formset and cl.formset.errors %}
      <p class="errornote">
      {% if cl.formset.total_error_count == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
      </p>
    {{ cl.formset.non_form_errors }}
    {% endif %}  
    <div class="row">
      <div class="col-12 d-flex flex-row
          align-items-center py-2">
          <h4>{{opts.model_name|capfirst}}s</h4>
          {% change_list_object_tools %}
    </div>
    <div class="row mt-3 px-3 w-100">
      <div class="col shadow d-flex flex-column bg-white shadow rounded mx-3 px-4 pt-5 pb-4 w-100">
        <div class="d-flex align-items-center w-100">
          <h5 class="mb-4"> 
            {% if opts.model_name == 'order' %}  
            Recent {{opts.model_name|capfirst}}s
            {% else %}  
            All {{opts.model_name|capfirst}}s
            {% endif %}
          </h5>
          {% block search %}{% search_form cl %}{% endblock %}
        </div>  
          {% block result_list %}
            {% result_list cl %}
          {% endblock %}
            {% block pagination %}{% pagination cl %}{% endblock %}  
      <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
          {% block date_hierarchy %}{% if cl.date_hierarchy %}{% date_hierarchy cl %}{% endif %}{% endblock %}
        </div>
        {% block filters %}
          {% if cl.has_filters %}
            <div id="changelist-filter">
              <h2>{% translate 'Filter' %}</h2>
              {% if cl.has_active_filters %}<h3 id="changelist-filter-clear">
                <a href="{{ cl.clear_all_filters_qs }}">&#10006; {% translate "Clear all filters" %}</a>
              </h3>{% endif %}
              {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
            </div>
          {% endif %}
        {% endblock %}
      </div>
    </div>
  </div>
  
{% endblock %}