.l--10px {
    left: -10px;
}
.l--10px {
    left: -20px;
}
.l--10px {
    left: -30px;
}
.l--10px {
    left: -40px;
}
.h-fit {
    height: fit-content !important;
}
.f14 {
    font-size: 14px;
}
.ml-10 {
    margin-left: -10px;    
}
.ml-6vw {
    margin-left: 6vw;    
}
.ml-7vw {
    margin-left: 7vw;    
}
.ml--10px {
    margin-left: -10px !important;
}
.ml--20px {
    margin-left: -20px !important;
}
.ml--30px {
    margin-left: -30px !important;
}
.ml--40px {
    margin-left: -400px !important;
}

.mr-10 {
    margin-right: -10px;    
}
.mt--10px {
    margin-top: -10px !important;
}
.mt--20px {
    margin-top: -20px !important;
}
.mt--30px {
    margin-top: -30px !important;
}
.mt--40px {
    margin-top: -40px !important;
}
.mt-10px {
    margin-top: 10px !important;
}
.mt-20px {
    margin-top: 20px !important;
}
.mt-30px {
    margin-top: 30px;
}
.mt-40px {
    margin-top: 40px;
}
.mt-50px {
    margin-top: 50px;
}
.mt-60px {
    margin-top: 60px;
}
.mt-70px {
    margin-top: 70px;
}
.mt-80px {
    margin-top: 80px;
}
.mt-90px {
    margin-top: 90px;
}
.mt-100px {
    margin-top: 100px;
}
.mt-150px {
    margin-top: 150px;
}
.mt-160px {
    margin-top: 160px;
}
.mt-170px {
    margin-top: 170px;
}
.mt-180px {
    margin-top: 180px;
}
.mt-200px {
    margin-top: 200px;
}
.mt10 {
    margin-top: 10px;
}
.mt12 {
    margin-top: 12px;
}
.mt15 {
    margin-top: 15px;
}
.mt20 {
    margin-top: 20px;
}
.mt25 {
    margin-top: 25px;
}
.mb0 {
    margin-bottom: 0px;
}
.mb-5px {
    margin-bottom: 5px;
}
.mb-8px {
    margin-bottom: 8px;
}
.mb-10px {
    margin-bottom: 10px;
}
.mb-20px {
    margin-bottom: 20px;
}
.mb-30px {
    margin-bottom: 30px;
}
.mb-100px {
    margin-bottom: 100px;
}
.mx-2vw {
    margin-left: 2vw !important;
    margin-right: 2vw !important;
}


.pt-0 {
    padding-top: 0px !important;
}
.pb-0 {
    padding-bottom: 0px !important;
}
.pb-10px {
    padding-bottom: 10px !important;
}
.pb-20px {
    padding-bottom: 20px !important;
}
.pb-30px {
    padding-bottom: 30px !important;
}
.pb-40px {
    padding-bottom: 40px !important;
}
.pb-50px {
    padding-bottom: 50px !important;
}
.pl-0px {
    padding-left: 0px !important;    
}    
.pl-40px {
    padding-left: 40px !important;    
}    
.pl-50px {
    padding-left: 50px !important;
}
.pl-70px {
    padding-left: 70px !important;
}
.pl-6vw {
    padding-left: 6vw !important;
}
.pl-7vw {
    padding-left: 7vw !important;
}
.pl-50per {
    padding-left: 50% !important;
}
.pr-0 {
    padding-right: 0px !important;    
}    
.pr-5vw {
    padding-right: 5vw !important;
}
.pr-7vw {
    padding-right: 5vw !important;
}
.w-fit {
    width: inherit;
}
.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 2;
}
.flex-3 {
    flex: 3;
}
.flex-4 {
    flex: 4;
}
.g-0px {
    gap: 0px !important;
}
.g-10px {
    gap: 10px !important;
}
.g-30px {
    gap: 30px;
}
.g-50px {
    gap: 50px;
}
.g-100px {
    gap: 100px;
}
.g-200px {
    gap: 200px;
}
.fs-1em {
    font-size: 1em;
}
.fs-1p2em {
    font-size: 1.2em;
}
.fs-1p3em {
    font-size: 1.3em;
}
.fs-1p5em {
    font-size: 1.5em;
}
.fs-2em {
    font-size: 2em;
}
.fw-400 {
    font-weight: 400;
}
.fw-600 {
    font-weight: 600;
}
.fw-700 {
    font-weight: 700;
}
